/* tasks-statistics.component.css */

/* Bendri stiliai */
.statistics-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h2 {
  color: #333;
  text-align: center;
}

/* Statistikos stiliai */
.task-count-statistics {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  background-color: #f5f5f5;
}

.task-count-item {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.count-key {
  font-weight: bold;
}

.count-value {
  color: #007bff; /* Pakeiskite spalvą pagal savo poreikius */
}

/* Responsyvumo stiliai */
@media (max-width: 600px) {
  .statistics-container {
    padding: 10px;
  }

  h2 {
    font-size: 18px;
  }
}
