<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="spacer"></span>
    <a mat-button routerLink="/tasks" routerLinkActive="active-link" style="color: white;">Užduočių sąrašas</a>
    <span class="spacer"></span>
    <a mat-button routerLink="/new-task" routerLinkActive="active-link" style="color: white;">Nauja užduotis</a>
    <span class="spacer"></span>
    <a mat-button routerLink="/about" routerLinkActive="active-link" style="color: white;">Apie programą</a>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
